nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.left-nav{
    width: 8rem;
}
.left-nav img{
    width: 100%;
}

.right-nav{
    padding: 2rem 1rem;
}
.nav-btn{
    background-color: #a268a5;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: .1s;
}
.nav-btn:hover{
    background-color: rgb(119, 51, 153);
}
main{
    min-height: 350px;
    display: grid;
    place-items: center;
}
.outer-div{
    display: flex;
    padding: 10px;
    align-items: center;
}
.main-div{
    padding: 0 100px;
    font-family: 'Poppins', sans-serif;
}
.main-div h2{
    font-size: 3rem;
    color: #a268a5;
}
.main-div p{
    color: #2d333a;
}
.service-sec{
    display: grid;
    font-family: 'Poppins', sans-serif;
    grid-template-columns: repeat(2, auto);
}
.service-section{
    font-family: 'Poppins', sans-serif;
}
.service-section .icon-box {
	margin-bottom: 20px;
	padding: 30px;
	border-radius: 6px;
	background-color: #f8f9fa;
}
.service-section .icon-box:hover .service-title a {
	color: #41A1FD;
}
.service-section .icon-box .service-icon {
	float: left;
	color: #41A1FD;
	font-size: 40px;
}
.service-section .icon-box .service-title {
	margin-left: 70px;
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.2;
}
.service-section .icon-box .service-title a {
	color: #556270;
	transition: 0.3s;
	text-decoration: none;
}
.service-section .icon-box .service-para {
	margin-left: 70px;
	line-height: 24px;
	font-size: 14px;
}
.service-section .service-main-heading {
    color: #a268a5;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}
footer{
    padding: 10px 100px;
    text-align: center;
    display: grid;
    margin-top: 3rem;
    gap: 8px;
    font-family: 'Poppins', sans-serif;
}
footer small{
    color: #2d333a;
    text-wrap: balance;
}
@media (max-width: 500px){
    .service-sec{
        grid-template-columns: none;
    }
    .blob-bg{
        display: none;
    }
    .main-div{
        padding: 0 20px;
    }
    footer{
        padding: 0 20px;
    }
    .service-section{
        margin-top: 3rem;
    }
    .service-section .icon-box .service-title, .service-section .icon-box .service-para{
        margin-left: 0;
    }
}